@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    
}
li, a, button {
    font-family:"Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.9)),url('../images/tea.jpeg');
    height: 100vh;
    background-size: cover;
    background-position: center;

}
/*menue css*/
.main_nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main_nav li{
    display: inline-block;
}
.main_nav li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
.main_nav li.active a{
    border: 1px solid white;
}
.main_nav li a:hover{
    border: 1px solid white;
}
/*error affects the ability of the nav bar to hover*/
.hero{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
}/*error end */
h1{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
}

/*btn*/
.button {
    margin-top: 30px;
    margin-left: 440px;
}
.btn{
    border: 1px solid white;
    padding: 10px 30px;
    color:white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}
.btn-one{
    background-color: darkorange;
    font-family: "Roboto", sans-serif;
}
.btn {
    font-family: "Roboto", sans-serif;

}
.btn-two:hover{
    background-color: darkorange;
    transition: all 0.5s ease-in;
    
}

/*logo location left*/
.logo{
    cursor: pointer;
    margin-right: auto;
}
.nav_links{
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding:0px 20px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color:#0088A9;
 }
 /*rgba help on the color */
button{
    margin-left: 20px;
    padding:9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}
label, input,textarea{
    display: block;
}
